@page "/grpc"
@rendermode InteractiveServer
@inject ICarGrpcService carGrpcService

<PageTitle>gRPC</PageTitle>

<div class="alert alert-primary" role="alert">
	<strong>CARS</strong> gRPC
</div>

<CarList Cars="cars" />

@code {
	private IEnumerable<Car>? cars;

	protected override async Task OnInitializedAsync()
	{
		cars = await carGrpcService.GetAllCars();
	}
}
